In [1]:
%run -i ./import_pageviews_sorted_by_page.py 'sorted_page/2017-12/part-00000.gz'

In [2]:
df.drop(columns=['reqbytes'], inplace=True)

In [3]:
df.head()

,lang,page,timestamp,views
0,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 15:00:00,2
1,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 16:00:00,3
2,(ja,%E4%BA%A4%E6%B8%89%E4%BA%BA%E3%80%9CTHE_NEGOTI...,2007-12-14 15:00:00,1
3,?a,%E3%81%8A%E3%81%9B%E3%81%A3%E3%81%8B%E3%81%84_...,2007-12-19 19:00:00,1
4,?a,%E3%83%9C%E3%83%96%E3%81%A8%E3%81%AF%E3%81%9F%...,2007-12-28 08:00:00,1

In [4]:
len(df)

5459672

In [5]:
df.loc[(df['lang'] == 'en') & (df['page'] == 'Albert_Camus')].head()

Empty DataFrame
Columns: [lang, page, timestamp, views]
Index: []

In [6]:
# grouped_df = df.groupby(['lang','page', 'day'], as_index=False)
# grouped_df = df.groupby(['lang','page', pd.Grouper(freq="1D", key='timestamp')], as_index=False)
grouped_df = df.groupby(['lang','page', df.timestamp.dt.day], as_index=False)
grouped_df.head()

,lang,page,timestamp,views
0,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 15:00:00,2
1,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 16:00:00,3
2,(ja,%E4%BA%A4%E6%B8%89%E4%BA%BA%E3%80%9CTHE_NEGOTI...,2007-12-14 15:00:00,1
3,?a,%E3%81%8A%E3%81%9B%E3%81%A3%E3%81%8B%E3%81%84_...,2007-12-19 19:00:00,1
4,?a,%E3%83%9C%E3%83%96%E3%81%A8%E3%81%AF%E3%81%9F%...,2007-12-28 08:00:00,1
5,?a,%E5%9C%9F%E5%B2%90%E9%BA%BB%E5%AD%90,2007-12-24 04:00:00,1
6,?a,%E6%99%82%E7%A9%BA%E6%88%A6%E5%A3%AB%E3%82%B9%...,2007-12-19 19:00:00,1
7,?a,%E7%AC%A0%E5%8E%9F%E7%AB%9C%E5%8F%B8,2007-12-28 08:00:00,1
8,?a,%E9%A3%9F%E3%82%8F%E3%81%9A%E5%AB%8C%E3%81%84%...,2007-12-27 16:00:00,1
9,\en,Infinite_monkey_theorem,2007-12-18 15:00:00,1
10,\en,Infinite_monkey_theorem,2007-12-27 12:00:00,1
11,\www,Cedar_Point,2007-12-11 17:00:00,1
12,aa,%241,2007-12-10 21:00:00,1
13,aa,%241,2007-12-12 03:00:00,1
14,aa,%241,2007-12-16 08:00:00,1
15,aa,%241,2007-12-16 09:00:00,1
16,aa,%241,2007-12-18 11:00:00,1
17,aa,%241,2007-12-21 23:00:00,1
18,aa,%241,2007-12-24 15:00:00,1
19,aa,%241,2007-12-24 23:00:00,1
20,aa,%241,2007-12-28 08:00:00,1
21,aa,%241,2007-12-29 08:00:00,1
22,aa,%241,2007-12-31 20:00:00,1
23,aa,%2527Ir%25C2%25B7r%25C2%25B7ropinjtu%25C3%25B1,2007-12-13 08:00:00,1
24,aa,%2527Ir%25C2%25B7r%25C2%25B7ropinjtu%25C3%25B1,2007-12-17 11:00:00,1
25,aa,%2527Ir%25C2%25B7r%25C2%25B7ropinjtu%25C3%25B1,2007-12-22 20:00:00,1
26,aa,%2527Ir%25C2%25B7r%25C2%25B7ropinjtu%25C3%25B1,2007-12-24 19:00:00,1
27,aa,%2527Ir%25C2%25B7r%25C2%25B7ropinjtu%25C3%25B1,2007-12-29 13:00:00,1
28,aa,%26,2007-12-14 23:00:00,1
29,aa,%26,2007-12-28 02:00:00,1
...,...,...,...,...
5459572,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-26 00:00:00,1
5459573,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-26 01:00:00,1
5459574,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-26 03:00:00,1
5459575,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-26 06:00:00,2
5459576,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-26 07:00:00,2
5459588,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-27 01:00:00,2
5459589,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-27 05:00:00,1
5459590,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-27 06:00:00,2
5459591,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-27 07:00:00,1
5459592,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-27 08:00:00,3
5459605,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-28 05:00:00,1
5459606,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-28 06:00:00,1
5459607,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-28 09:00:00,1
5459608,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-28 11:00:00,3
5459609,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-28 12:00:00,1
5459617,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-29 00:00:00,1
5459618,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-29 01:00:00,2
5459619,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-29 02:00:00,4
5459620,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-29 07:00:00,2
5459621,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-29 08:00:00,1
5459636,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-30 00:00:00,1
5459637,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-30 01:00:00,2
5459638,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-30 03:00:00,1
5459639,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-30 03:00:00,1
5459640,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-30 05:00:00,1
5459657,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-31 01:00:00,1
5459658,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-31 02:00:00,1
5459659,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-31 06:00:00,2
5459660,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-31 07:00:00,3
5459661,ar,%D8%AD%D8%A7%D8%AA%D9%85_%D8%A7%D9%84%D8%B7%D8...,2007-12-31 08:00:00,2

In [10]:
len(grouped_df)

2186236

In [8]:
grouped_df['daily_total'] = grouped_df['views'].transform('sum')

ValueError: Length mismatch: Expected axis has 5459664 elements, new values have 5459672 elements

In [9]:
df.head()

,lang,page,timestamp,views
0,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 15:00:00,2
1,(ja,Category%3A2808%E5%B9%B4%E3%81%AE%E3%83%86%E3%...,2007-12-14 16:00:00,3
2,(ja,%E4%BA%A4%E6%B8%89%E4%BA%BA%E3%80%9CTHE_NEGOTI...,2007-12-14 15:00:00,1
3,?a,%E3%81%8A%E3%81%9B%E3%81%A3%E3%81%8B%E3%81%84_...,2007-12-19 19:00:00,1
4,?a,%E3%83%9C%E3%83%96%E3%81%A8%E3%81%AF%E3%81%9F%...,2007-12-28 08:00:00,1

In [ ]:
df.drop(columns=['views'], inplace=True)

In [ ]:
df['date'] = df['timestamp'].transform(lambda ts: ts.date())

In [ ]:
df.drop(columns=['timestamp'], inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.head()

In [ ]:
df.loc[(df['lang'] == 'en') & (df['page'] == 'Albert_Camus')].head(n=50)