In [1]:
import numpy as np

In [2]:
%run -i import_pageviews.py 'sorted_time/2007-12/pagecounts-20071210-*.gz'

In [3]:
df.drop(columns=['reqbytes'], inplace=True)

In [4]:
df.head()

,lang,page,views,timestamp
0,aa,Enqlizxsh_-_English,1,2007-12-10 07:00:00
1,aa,Special:Allmessages,1,2007-12-10 07:00:00
2,aa,Special:Imagelist,1,2007-12-10 07:00:00
3,aa,User:Ae%C3%A6,1,2007-12-10 07:00:00
4,ab,%D0%93%D0%B5%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8,2,2007-12-10 07:00:00

In [5]:
len(df)

78046097

In [6]:
df.loc[(df['lang'] == 'en') & (df['page'] == 'Albert_Camus')].head()

       lang          page  views           timestamp
279242   en  Albert_Camus    128 2007-12-10 07:00:00
594817   en  Albert_Camus    145 2007-12-10 20:00:00
379684   en  Albert_Camus    150 2007-12-10 00:00:00
552934   en  Albert_Camus     50 2007-12-10 13:00:00
606310   en  Albert_Camus    126 2007-12-10 16:00:01

In [7]:
# grouped_df = df.groupby(['lang','page', 'day'], as_index=False)
# grouped_df = df.groupby(['lang','page', pd.Grouper(freq="1D", key='timestamp')], as_index=False)
grouped_df = df.groupby(['lang','page', df.timestamp.dt.day], as_index=False)
grouped_df.head()

,lang,page,views,timestamp
0,aa,Enqlizxsh_-_English,1,2007-12-10 07:00:00
1,aa,Special:Allmessages,1,2007-12-10 07:00:00
2,aa,Special:Imagelist,1,2007-12-10 07:00:00
3,aa,User:Ae%C3%A6,1,2007-12-10 07:00:00
4,ab,%D0%93%D0%B5%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8,2,2007-12-10 07:00:00
5,ab,%D0%98%D1%85%D0%B0%D0%B4%D0%BE%D1%83_%D0%B0%D0...,1,2007-12-10 07:00:00
6,ab,%D0%A1%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%...,1,2007-12-10 07:00:00
7,ab,%D0%A1%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%...,1,2007-12-10 07:00:00
8,ab,%D0%A1%D0%BF%D1%80%D0%B0%D0%B2%D0%BA%D0%B0:%D0...,1,2007-12-10 07:00:00
9,ab,%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%...,1,2007-12-10 07:00:00
10,ab,%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%...,1,2007-12-10 07:00:00
11,ab,2006,3,2007-12-10 07:00:00
12,ab,Main_Page,1,2007-12-10 07:00:00
13,ab,Wikipedia:%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD...,1,2007-12-10 07:00:00
14,ab,Wikipedia:%D0%9E%D1%82%D0%BA%D0%B0%D0%B7_%D0%B...,1,2007-12-10 07:00:00
15,ab,Wikipedia:%D0%9F%D0%BE%D1%80%D1%82%D0%B0%D0%BB...,1,2007-12-10 07:00:00
16,ab,Wikipedia:%D0%A2%D0%B5%D0%BA%D1%83%D1%89%D0%B8...,1,2007-12-10 07:00:00
17,af,-1750,1,2007-12-10 07:00:00
18,af,.ls,1,2007-12-10 07:00:00
19,af,05-31,1,2007-12-10 07:00:00
20,af,06-27,1,2007-12-10 07:00:00
21,af,07-30,1,2007-12-10 07:00:00
22,af,10-03,1,2007-12-10 07:00:00
23,af,1061,1,2007-12-10 07:00:00
24,af,1066,1,2007-12-10 07:00:00
25,af,1083,1,2007-12-10 07:00:00
26,af,1084,1,2007-12-10 07:00:00
27,af,1087,1,2007-12-10 07:00:00
28,af,10_Augustus,1,2007-12-10 07:00:00
29,af,10_Desember,1,2007-12-10 07:00:00
...,...,...,...,...
3544448,zh,翳,1,2007-12-10 21:00:00
3544449,zh,翻譯,1,2007-12-10 21:00:00
3544450,zh,西西,1,2007-12-10 21:00:00
3544451,zh,諫議大夫,1,2007-12-10 21:00:00
3544452,zh,貨幣,1,2007-12-10 21:00:00
3544453,zh,賭場,1,2007-12-10 21:00:00
3544454,zh,赣语,1,2007-12-10 21:00:00
3544455,zh,顧橫波,1,2007-12-10 21:00:00
3544456,zh,風,1,2007-12-10 21:00:00
3544457,zh,鲸语,1,2007-12-10 21:00:00
3544458,zh,鹽水,1,2007-12-10 21:00:00
3544459,zh,鹿豹座,1,2007-12-10 21:00:00
3544471,zu,Cuest,1,2007-12-10 21:00:00
3544473,zu,IButswana,1,2007-12-10 21:00:00
3544480,zu,Image:R%C3%B6mer1.jpg,1,2007-12-10 21:00:00
3544482,zu,Ingulube,2,2007-12-10 21:00:00
3544484,zu,Inymazane,1,2007-12-10 21:00:00
3544488,zu,Ithayiga,1,2007-12-10 21:00:00
3544490,zu,KwaZulu-Natal,2,2007-12-10 21:00:00
3544491,zu,Main_Page,1,2007-12-10 21:00:00
3544493,zu,Special:Imagelist,1,2007-12-10 21:00:00
3544494,zu,Special:Listadmins,1,2007-12-10 21:00:00
3544495,zu,Special:Listusers,1,2007-12-10 21:00:00
3544500,zu,Talk:Ikhasi_Elikhulu/,1,2007-12-10 21:00:00
3544501,zu,UBudha,1,2007-12-10 21:00:00
3544503,zu,UNkulunkulu,1,2007-12-10 21:00:00
3544504,zu,Umthofu,1,2007-12-10 21:00:00
3544505,zu,User:Escarbot,3,2007-12-10 21:00:00
3544506,zu,User:Guaka,1,2007-12-10 21:00:00
3544507,zu,User:SieBot,1,2007-12-10 21:00:00

In [ ]:
df['daily_total'] = grouped_df['views'].transform('sum')

In [ ]:
df.head()

In [ ]:
df.drop(columns=['views'], inplace=True)

In [ ]:
df['date'] = df['timestamp'].transform(lambda ts: ts.date())

In [ ]:
df.drop(columns=['timestamp'], inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.head()

In [ ]:
df.loc[(df['lang'] == 'en') & (df['page'] == 'Albert_Camus')].head(n=50)